/* stylelint-disable scss/dollar-variable-pattern */
// ===========================================
// 全体共通用カラー設定
// ===========================================

// -------------------------------------------
// メインカラー
// -------------------------------------------
$color-primary_orange: #e88d67;
$color-primary_indigo: #006989;
$color-primary_red: #cc4f65;

// -------------------------------------------
// サブカラー
// -------------------------------------------
$color-secondary_indigo: #003546;
$color-secondary_light: #ededd0;
$color-secondary_violet: #783762;
$color-secondary_green: #652b0d;

// -------------------------------------------
// ニュートラルカラー
// -------------------------------------------
$color-neutral_dark-content: #25272a;
$color-neutral_dark-borders: #323438;
$color-neutral_dark-grey: #384455;
$color-neutral_light-content: #d9e1e7;
$color-neutral_light-borders: #f1f5f7;
$color-neutral_white: #fff;

// -------------------------------------------
// 以下削除予定
// -------------------------------------------
$whiteColor: #fff;
$blackColor: #252525;
$baseColor: #393e46;
$mainColor: #222831;
$subColor: #dcdcdc;
$accentColor: #00adb5;
